<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Project Name</title>
        <meta name="author" content="The Author"></meta>
    </h:head>
    <h:body>
        <b:navBar brand="Brand" brandHref="#">
            <b:navbarLinks>
                <b:navLink value="Home" href="#"></b:navLink>
                <b:navLink value="Link" href="#"></b:navLink>
                <b:navLink value="Link" href="#"></b:navLink>
            </b:navbarLinks>
        </b:navBar>
        <b:container>
            <b:row>
                <h:form>
                    <b:commandButton value="test" action="#{customerView.save()}"></b:commandButton>
                </h:form>
            </b:row>
            <b:row>
                <b:dataTable value="#{customerView.projects}" var="project" styleClass="table table-striped table-bordered"
                             style="width:100%">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Project" />
                        </f:facet>
                        <h:outputText value="#{project.id}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Customer" />
                        </f:facet>
                        <h:inputText value="#{project.customer.id}"/>
                    </h:column>

                </b:dataTable>
            </b:row>
        </b:container>
    </h:body>
</html>